body {
    background-color: rgb(235, 160, 126);
    display:flex;
}

h1 {
    color: aliceblue;
}

.second-header {
    color: blue;
}

.group-text {
    margin: 25px;
    padding: 24 px;
    background-color:bisque;
}

@media (max-width: 480px) {
    body {
        flex-direction: colomn;
    }
}